.main {
  padding: 1rem 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sectionWithBg {
  width: 100%;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.greetingSection {
  display: flex;
  flex-direction: column;
  gap: 36px;
  align-items: center;
  margin-top: 2rem;
}

.buyBtn {
  background-color: #f2d230;
  padding: 30px 70px;
  border-radius: 16px;
  font-size: 50px;
  font-weight: bold;
  transition: all 0.5s ease;
  transform: scale(1);
}

.buyBtn:hover {
  transform: scale(1.1) perspective(1px)
}

.navbarTitle {
  color: white;
  letter-spacing: 1.5px;
}

.actionBtn {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.actionBtns {
  transition: all 0.5s ease;
  transform: scale(1);
}

.actionBtns:hover {
  transform: scale(1.1) perspective(1px);
  cursor: pointer;
}

.descSection {
  height: fit-content;
  /* width: 100%; */
  margin-top: 5rem;
  background-color: black;
  position: absolute;
  /* top: 89vh; */
  padding: 0 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -2;
}

.videoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.videoContainer > h1 {
  color: white;
  font-size: 64px;
  letter-spacing: 2px;
  font-weight: bold;
}

.videoContainer > h2 {
  color: white;
  text-align: center;
  width: 100vh;
}

.tokenomicsSection {
  background-color: #f2d230;
  width: 122.8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  height: fit-content;
  padding: 2rem;
} 

.tokenomicsSection > h1 {
  font-size: 64px;
  letter-spacing: 2px;
  font-weight: bold;
}

.container {
  background-color: black;
  color: white;
  text-align: center;
  padding: 6rem 2.6rem;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  font-weight: bolder;
}

.container > h1 {
  font-size: 60px;
}

.container > h4 {
  font-size: 36px;
  margin-top: -1rem;
}